<html>
<head>
    {% block head %}
      <title>{% block title %} Student Information Site {% endblock %}</title>
      {% endblock %}
</head>

<body>
    <h1 id = "heading">{% block heading %}This is a django application to demonstrate Crud operations {% endblock %}</h1>
    <p id = "description">
        {% block description %}
        This is an application which  provides the interface to create student entities,delete them,update them or just to read them.
        <br />
        The links are given below:
        <ul>
            <li><a href = "http://localhost:8000/read">To read</a></li>
            <li><a href = "http://localhost:8000/create">To Create</a></li>
            <li><a href = "http://localhost:8000/delete">To Delete</li></a>


            <li><a href = "http://localhost:8000/update">To Update</a></li>
        </ul>
        Note: The only purpose of this application is to be able to perform crud operations on the database.
        The graphical view of the contents, the proper designing of the database etc. are of less importance here.
        {% endblock %}
    </p>
    <h2 id = "contentHeading">{% block contentHeading %}This is the content heading{% endblock %}</h2>
    <div id = "content">
        {% block content %}
        These are the contents
        {% endblock %}
    </div>
</body>


</html>
