{% extends "base.html" %}
{% block contentHeading %}Create the data:{% endblock %}
{% block content %}

<form action = "http://localhost:8000/confirmCreate" method = "POST" name = "studentForm">
    {% csrf_token %}
    Name:
    <input type = "text" name = "name"/>
    <br />
    Age:
    <input type = "text" name = "age"/>
    <br />
    Institution:
    <input type = "text" name = "institution"/>
    <br />
    Program:
    <input type = "text" name = "program"/>
    <br />
    Bio:
    <textarea name ="bio"></textarea>
    <br />
    <input type = "submit" value = "Submit" name = "subBtn"/>
</form>

{% endblock %}
