{% extends "base.html" %}
{% block contentHeading %}Update the data:{% endblock %}
{% block content %}

{% for student in students %}
<form action = "http://localhost:8000/confirmUpdate/?key={{student.pk}}" method = "POST">
    {% csrf_token %}
    Name: {{student.name}}<br />
    New Name:
    <input type = "text" name = "name" />
    <br />
    Age: {{student.age}}<br />
    New Age:
    <input type = "text" name = "age" />
    <br />
    Institution: {{student.institution}}<br />
    New Institution:
    <input type = "text" name = "institution" />
    <br />
    Program: {{student.program}}<br />
    New Program:
    <input type = "text" name = "program" />
    <br />
    Bio: {{student.bio}}<br />
    New Bio:
    <textarea name ="bio"></textarea>
    <br />
    <input type = "submit" value = "Update" />
</form>
{% endfor %}

{% endblock %}
